{% extends "base.html" %}

{% block title %} {{ query }} - Book Search App {% endblock %}

{% block content %}
<div>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Book Title
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Author
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Publisher
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Provider
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Price
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Website
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in context %}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">

                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ item.title }}
                    </th>
                    <td class="py-4 px-6">
                        {{ item.author }}
                    </td>
                    <td class="py-4 px-6">
                        {{ item.publisher }}
                    </td>
                    <td class="py-4 px-6">
                        {{ item.provider }}
                    </td>
                    <td class="py-4 px-6">
                        {{ item.price }} TL
                    </td>
                    <td class="py-4 px-6">
                        <a href="{{ item.product_url }}" target="_blank"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Go</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}